/* Animations */
.landing-anim-item1 {
	-webkit-animation-name: slideup; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}
.landing-anim-item2 {
	-webkit-animation-name: slideup; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
}
.landing-anim-item3 {
	-webkit-animation-name: slideup; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 2.5s;
}
.landing-anim-text1{
	-webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}
.landing-anim-text2{
	-webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}
.landing-anim-text3{
	-webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}


/* slide in from below */
@-webkit-keyframes slideup {
	from { opacity: 0; transform:translateY(100%); }
    to   { opacity: 1; transform:translateY(0%); }
}
@keyframes slideup {
	from { opacity: 0; transform:translateY(100%); }
    to   { opacity: 1; transform:translateY(0%); }
}
/* fade in*/
@-webkit-keyframes slideup {
	from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes slideup {
	from { opacity: 0; }
    to   { opacity: 1; }
}


/*grids */ 
.landingpagegrid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px

}
.landingpagegrid-container > div {
 /* background-color: rgba(255, 255, 255, 0.1); */ 
  text-align: center;
  overflow: visible;
  padding: 20px 0;
  font-size: 30px;
}

/* Navbar links */
.nav-bar {
	overflow: hidden;
	width: 100%;
	height: 80px;
	background-color: #1F232D;
}
.navbar a {
  float: left;
  display: block;
  color: #FF7145;
  text-align: center;
  text-decoration: none;
}
.content {
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.sticky + .content {
  padding-top: 80px;
  width: 100%;
  /* transform breaks the objects to a new layer so it needs a z index to move the nav bar on top */
  z-index: 1;
}
.buttonimage {
  opacity: 1;
  width: 80px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* elements */
.dividerelement {
	width: 33%;
    height: 2px;
	background-color: #80644b;
	margin:0 auto;
}

.headerlogo {
	width: auto;
	height: 140px;
}

body {
	background-color: #1d1f24;
    background-image: linear-gradient(to bottom right, #2e3444, #16171b); /* Standard syntax (must be last) */
	color: white;
	font-family: Helvetica; 
	margin: 0;
}
p {
	color: #baad8e;	
}
td {
    border: 1px solid black;
	color: white;
}
h1 {
	font-family: Helvetica;
	font-size: 3.0em;
	text-align: center;
	color: #baad8e;
}

/* responsive design */
@media screen and (orientation:portrait) {
/* Portrait styles */
	.landingpagegrid-container {
		grid-template-columns: auto;
	}
}