/* Navbar links */
.nav-bar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    display: inline-block;
    width: 100%;
    background-color: #1F232D;
    position: -webkit-sticky; /* Safari */
    position: sticky;
	top: 0;
	z-index: 1;

}
#navbar li {
	float: left;
}
#navbar a {
	display: block;
	color: #f2f2f2;
	text-align: center;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	padding: 20px 16px;
}
#navbar a.active {
	text-decoration: none;
  }
#navbar a:hover {
	background-color: #ddd;
	color: #000000;
}
#navbar a:visited {
	text-decoration: none;
}


/*drop down*/
.navdropdown {
	position: relative;
	display: inline-block;
}

.navdropdown-content {
	
	display: none;
 	position: absolute;
    background-color: #532727;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.navdropdown-content a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navdropdown:hover .navdropdown-content{
	display: block;
}


/* Animations */
.landing-anim-item1 {
	-webkit-animation-name: slideup; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}
.landing-anim-item2 {
	-webkit-animation-name: slideup; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
}
.landing-anim-item3 {
	-webkit-animation-name: slideup; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 2.5s;
}
.landing-anim-text1{
	-webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}
.landing-anim-text2{
	-webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}
.landing-anim-text3{
	-webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: slideup;
    animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}


/* slide in from below */
@-webkit-keyframes slideup {
	from { opacity: 0; transform:translateY(100%); }
    to   { opacity: 1; transform:translateY(0%); }
}
@keyframes slideup {
	from { opacity: 0; transform:translateY(100%); }
    to   { opacity: 1; transform:translateY(0%); }
}
/* fade in*/
@-webkit-keyframes slideup {
	from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes slideup {
	from { opacity: 0; }
    to   { opacity: 1; }
}


/*grids */ 
.landingpagegrid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20pxp;

}
.landingpagegrid-container > div {
 /* background-color: rgba(255, 255, 255, 0.1); */ 
  text-align: center;
  overflow: visible;
  padding: 20px 0;
  font-size: 30px;
}

/* Devhistory grids */
.gridimage {
	width: 100%;
    height: auto;
}
.devhistorygrid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	padding: 2em;
}
.devhistorygrid-container > div {
	border-radius: 5px;
	padding: 1em;
	color: #baad8e;
}
.devhistorygrid-one{
	grid-column: 1/3;
	grid-row: 1;
	text-align: center;
}
.devhistorygrid-two{
	grid-column: 1/3;
	grid-row: 2;
}
.devhistorygrid-three{
	grid-column: 1/3;
	grid-row: 3;
	text-align: center;
}
.devhistorygrid-four{
	grid-column: 1;
	grid-row: 4;
}
.devhistorygrid-five{
	grid-column: 2;
	grid-row: 4;
}
.devhistorygrid-six{
	grid-column: 1;
	grid-row: 5;
}
.devhistorygrid-seven{
	grid-column: 2;
	grid-row: 5;
 }
.devhistorygrid-eight{
	grid-column: 1/3;
	grid-row: 6;
	text-align: center;
 }
 .devhistorygrid-nine{
	grid-column: 1;
	grid-row: 7;
 }
 .devhistorygrid-ten{
	grid-column: 2;
	grid-row: 7;
 }






.buttonimage {
  opacity: 1;
  width: auto;
  height: 60px;
  transition: .5s ease;
  backface-visibility: hidden;
  margin:-20px -16px;
}

/* elements */
.dividerelement {
	width: 33%;
    height: 2px;
	background-color: #80644b;
	margin:0 auto;
}

.headerlogo {
	width: auto;
	height: 140px;
}

body {
	background-color: #1d1f24;
    background-image: linear-gradient(to bottom right, #2e3444, #16171b); /* Standard syntax (must be last) */
	color: white;
	font-family: Helvetica; 
	margin: 0;
}
p {
	color: #baad8e;	
}
td {
    border: 1px solid black;
	color: white;
}
h1 {
	font-family: Helvetica;
	font-size: 3.0em;
	text-align: center;
	color: #baad8e;
}
h2 {
	font-family: Helvetica;
	font-size: 2.0em;
	text-align: center;
	color: #e2dbca;
}






/* responsive design */
@media screen and (orientation:portrait) {
/* Portrait styles */
	.landingpagegrid-container {
		grid-template-columns: auto;
	}


/*dev history grid*/	
	.devhistorygrid-one{
		grid-column: 1/3;
		grid-row: 1;
	}
	.devhistorygrid-two{
		grid-column: 1/3;
		grid-row: 2;
	}
	.devhistorygrid-thee{
		grid-column: 1/3;
		grid-row: 3;
	}
	.devhistorygrid-four{
		grid-column: 1/3;
		grid-row: 4;
	}
	.devhistorygrid-five{
		grid-column: 1/3;
		grid-row: 5;
	}
	.devhistorygrid-six{
		grid-column: 1/3;
		grid-row: 6;
	}
	.devhistorygrid-seven{
		grid-column: 1/3;
		grid-row: 7;
	}
	.devhistorygrid-eight{
		grid-column: 1/3;
		grid-row: 8;
	}
	.devhistorygrid-nine{
		grid-column: 1/3;
		grid-row: 9;
	}
	.devhistorygrid-ten{
		grid-column: 1/3;
		grid-row: 10;
	}
}