.nav-bar {
	width: 80%;
	height: 80px;
	background-color: #2d2d2d;
}
.buttonimage {
  opacity: 1;
  width: 80px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
body {
	background-color: #1d1f24;
	color: white;
}
p {
	color: white;	
}
td {
    border: 1px solid black;
	color: white;
}